@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "reset.css";

@import "typography.css";
@import "cards.css";
@import "input.css";
@import "utilities.css";



:root {
    --bg-gray: #EDEDED;
    --bg-blue: #EAF2FD;
    --tx-dark: #464646;
    --blue: #2A7AE4;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-gray { background-color: var(--bg-gray); }
.bg-blue { background-color: var(--bg-blue); }


li a {
    text-decoration: none;
    color: var(--tx-dark);
}

li a:hover { opacity: .8; }

main a::after {
    content: url(../images/arrow.svg);
    margin-left: .5rem;
}

main ul { gap: 2rem; }

@media (max-width: 768px) {
    .profile { width: 60%; }
    main ul { gap: 1rem; }
}
